<h3>Sign in</h3>
<form action="/admin" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="login">
</form>

<!-- <h3>Register</h3>
<form action="/register" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="register">
</form> -->