<h2>Search results</h2>
<ul>
    <% data.forEach(el => { %>
        <li>
            <a href="/post/<%= el._id %>">
                <div><%= el.title %></div>
                <!-- toDateString() per abbreviare la data -->
                <div><%= el.createdAt.toDateString() %></div>
            </a>
        </li>
    <% }) %>
</ul>