<a href="/" class="<%= isActiveRoute('/', currentRoute) %>">HOME</a>
<a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">ABOUT</a>
<a href="/contact" class="<%= isActiveRoute('/contact', currentRoute) %>">CONTACT</a>