<div>
    <form action="/search" method="POST" role="search">
        <input 
            type="search"
            aria-label="Search"
            id="searchInput"
            name="searchInput"
            placeholder="search..."
        >
    </form>
</div>