.header {
    height: 80px;
    background-color: var(--bg-color-secondary);
}

.header ul li {
    margin: 0 20px;
}

.header ul li:first-child {
    margin-left: 0;
}

.header ul li:last-child {
    margin-right: 0;
}